body {
  font-family: cochin;
  background-size: 1400px;
  background-color: white;
  font-size: 17px;
  color: black;
  margin: 0;
}
a:focus{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
p {
  margin: 0;
}
.about {
  color: black;
  font-size: 19px;
  text-shadow: 0px 0px 0px black;
  font-weight: bold;
}
#Title {
  color: black;
  font-weight: bold;
}

a {
  color: #013cbb;
}

.navbar {
  overflow: hidden;
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/index_background.jpg');
  height: 30px;
  border: 0;
  /* width: 100vh; */
}
.navbar sticky{
  display: none;
}

.displayImage {
  box-shadow: 0 6px 9px 0 black;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 17vw;
}
.aboutTitle {
  color: #cc2326 !important;
  text-shadow: 1px 0px 1px #dc2a73;
  font-weight: bold;
  font-family: cursive;
  font-size: 35px;
  padding-top: 55px;
  padding-bottom: 8px;
}

.resumeTitle {
  color: #cc2326 !important;
  text-shadow: 1px 0px 1px #dc2a73;
  font-weight: bold;
  font-family: cursive;
  font-size: 35px;
  padding-top: 55px;
  padding-bottom: 8px;
}

.subTitle {
  color: #cc2326 !important;
  text-shadow: 1px 0px 1px #dc2a73;
  font-weight: bold;
  font-family: cursive;
  font-size: 25px;
  padding-top: 55px;
  padding-bottom: 8px;
}

.indexContainer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: yellow; */
}

.contactLink {
  justify-content: center;
}

#subTitle {
  color: #cc2326 !important;
  text-shadow: 1px 0px 1px #dc2a73;
  font-weight: bold;
  font-family: cursive;
  font-size: 25px;
  padding-top: 55px;
  padding-bottom: 8px;
}

.slideanim {
  visibility: hidden;
}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

.projectDetailsList {
  padding-left: 19px;
  list-style-type: square;
  margin-top: 5px;
}

.languages {
  font-weight: 400;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.mainContainer {
  display: flex;
  /* flex:1; */
  flex-direction: row;
}
.contentContainer {
  height: 100vh;
  width: 70vw;
}
.content {
  /* background-color: darkred; */
  height: 100vh;
  margin-left: 11vw;
  margin-right: 8vw;
  line-height: 1.5;
}
.legend {
  /* background-color: darkslategrey; */
  height: 100vh;
  width: 30vw;
  position: fixed;
  left: 68vw;
}
.legendStrip {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/index_background.jpg');
  margin-left: 2vw;
  margin-right: 2vw;
  color: white;
}

.legendStripContent {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.nameTag {
  font-family: cursive;
  font-size: 25px;
  margin-bottom: 5px;
}

.navbarContent{
  display:flex;
  flex-direction: row;
  align-items: center;
    padding-top: 4px;
}
#hamburgerMenuIcon{
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.nameTagInStickyHeader {
  font-family: cursive;
  color: white;
  font-size: 35px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}
hr{
  margin-top: 2px;
}
.quickLinks{
  position: absolute;
  font-size: 25px;
  top:22px;
  margin-left: 19px;
  color: #cc2326;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media only screen and (max-width: 1024px) {

  .nameTag {
    font-size: 32px;
  }

  .legendStripContent {
    font-size: 22px;
  }
  .legendStrip {
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .displayImage {
    width: 22vw;
  }
  
}

@media only screen and (max-width: 858px) {

  .nameTag {
    font-size: 28px;
  }

  .legendStripContent {
    font-size: 18px;
  }
  .legendStrip {
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .displayImage {
    width: 25vw;
  }
}

@media only screen and (max-width: 760px) {
  .aboutTitle {
    font-family: cochin;
    font-weight: 500;
    font-size: 23px;
    padding-top: 8px;
    text-shadow: none;
  }

  .resumeTitle{
    font-family: cochin;
    font-weight: 500;
    font-size: 28px;
    text-shadow: none;
  }
  
  .subTitle {
    font-family: cochin;
    font-weight: 500;
    font-size: 23px;
    text-shadow: none;
  }
  #subTitle {
    font-family: cochin;
    font-weight: 500;
    font-size: 23px;
    text-shadow: none;
  }
  .nameTagInStickyHeader {
    font-family: cochin;
    font-weight: 300;
    font-size: 29px;
    text-shadow: none;
  }

  .nameTag {
    font-family: cochin;
    font-weight: 100;
    
  }
  .legendStripContent {
    font-size: 16px;
  }
  /* .legend{
    width: 40vw;
  } */
  .legendStrip {
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .list {
    padding-left: 19px;
    list-style-type: square;
  
  }
}

@media only screen and (max-width: 699px) {
  .legend {
    display: none;
  }

  .navbar {
    display: block;
  }
  .navbar sticky{
    display: block;
  }

  .contentContainer {
    width: 100vw;
  }
}

/* @media only screen and (max-width: 858px) {
  body {
    background-color: lightblue;
  }
} */
